@model EditRoleViewModel

<div class="content-wrapper" style="min-height: 976.4px;">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Permissão - @Model.Role.Name</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Editar</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <form method="post" asp-controller="Role" asp-action="Edit" asp-antiforgery="true" class="form-horizontal">

            <input type="hidden" name="RoleId" value="@Model.Role.Id" />
            <input type="hidden" name="RoleName" value="@Model.Role.Name" />

            @await Html.PartialAsync("~/Views/Role/_partial/_ListRoleToAdd.cshtml", Model)

            @await Html.PartialAsync("~/Views/Role/_partial/_ListRoleToRemove.cshtml", Model)

            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="reset" class="btn btn-warning">Resetar</button>
            <a class="btn btn-secondary" asp-controller="Role" asp-action="Index">Voltar</a>

        </form>

    </section>
</div>

@section Scripts {

    <script src="~/js/demo/datatables.min.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


