<div class="form-group">
    <label></label>
    <div class="input-group">
        <button type="button" id="btn-clean" style="margin-top: 10%;" class="btn btn-warning" >
            Limpar
        </button>
    </div>
</div>
