<div class="form-group">
    <label></label>
    <div class="input-group">
        <button type="button" id="btn-search" style="margin-top: 9%;" class="btn btn-primary">
            Procurar
        </button>
    </div>
</div>
