<div class="form-group">
    <label></label>
    <div class="input-group">
        <button type="button" id="btn-search-by-ip" style="margin-top: 2%;" class="btn btn-secondary" data-toggle="modal" data-target="#modal-secondary">
            Search
        </button>
    </div>
</div>
