
@{
    Layout = string.Empty;
}

@await Html.PartialAsync("~/Views/Shared/_partial/_cssImportBootstrap.cshtml")

<!--Section: Block Content-->
<body class="hold-transition login-page">

    <div class="login-box">

        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b> VCenter</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Forgot Password</p>

                <form asp-action="ForgotPassword" method="post">

                    <div class="input-group mb-3">

                        <input type="email" id="email" placeholder="Email address" class="form-control">

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <button type="button" onclick="userJs.forgotPasswordSave(this)" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>
                </form>

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</body>


@await Html.PartialAsync("~/Views/Shared/_partial/_modalAlert.cshtml")
@await Html.PartialAsync("~/Views/Shared/_partial/_modalSuccess.cshtml")


<script src="~/theme/plugins/jquery/jquery.js"></script>

@await Html.PartialAsync("~/Views/Shared/_partial/_scriptBootstrap.cshtml")

<script src="~/js/Ultil/Util.js"></script>
<script src="~/js/User/user.js"></script>