@model UserViewModel

@await Html.PartialAsync("~/Views/Shared/_partial/_cssImportBootstrap.cshtml")


<div class="content-wrapper" style="min-height: 976.4px;">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>User</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action(" Index", "User" )">Index</a></li>
                        <li class="breadcrumb-item active">Criar</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="row">
            <div class="col-8">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Usuário</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <form asp-action="InCreateUser" method="post">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            @await Html.PartialAsync("~/Views/User/_partial/_createEdit.cshtml")

                            <div class="form-group">
                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    @Html.EditorFor(model => model.Enable, new { htmlAttributes = new { @id = "Enable", @class = "custom-control-input", @type = "checkbox", @checked = "checked" } })
                                    <label class="custom-control-label" for="Enable">Ativar</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-block">Criar</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </section>
</div>


