
@{
    Layout = string.Empty;
}

@await Html.PartialAsync("~/Views/Shared/_partial/_cssImportBootstrap.cshtml")

<!--Section: Block Content-->
<body class="hold-transition login-page">

    <div class="login-box">

        <div class="login-logo">
            <a style="color: white" href="#"><b style="color: white">Admin</b> VCenter</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <h2 class="login-box-msg">Senha alterada com sucesso!</h2>

                <div class="input-group mb-3">

                    <h5>Sua senha foi alterada com sucesso, clique aqui para acessar a página de login</h5>

                    <a href="/">Página de Login</a>
                </div>

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</body>
