@model List<VMViewModel>

<link rel="stylesheet" href="~/theme/plugins/datatables-bs4/css/dataTables.bootstrap4.css" />

<div class="content-wrapper" style="min-height: 976.4px;">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Inventário</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Inventário</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->

            <div class="row">

                <!-- ./col -->
                <div class="col-md-4">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3 id="totalOn">0</h3>

                            <p>Total Ligadas</p>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-md-4">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3 id="totalOff">0</h3>

                            <p>Total de Desligadas</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3 id="totalVMS">0</h3>
                            <p>Total de VMs</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">


                <div class="col-md-4">
                    @await Html.PartialAsync("~/Views/Shared/_partial/_filter/_ServerDropBox.cshtml", new { servers = ViewBag.Servers })
                </div>

                <div style="margin-right:5px;">
                    @await Html.PartialAsync("~/Views/Shared/_partial/_filter/_SearchBtn.cshtml")
                </div>

                <div style="margin-right:5px;">
                    <div class="form-group">
                        <label></label>
                        <div class="input-group">
                            <button type="button" id="btn-export" class="btn btn-secondary" disabled style="margin-top: 9%;" data-toggle="modal" data-target="#modal-secondary">
                                Export
                            </button>
                        </div>
                    </div>
                </div>

                <div>
                    @await Html.PartialAsync("~/Views/Shared/_partial/_filter/_cleanBtn.cshtml")
                </div>
            </div>
        </div>
    </section>


    <section class="content">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"></h3>
                    </div>
                    <!-- /.card-header -->

                    <div id="div-table" class="card-body">
                        <table id="list-vms-table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Memória</th>
                                    <th>CPU</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="tbody-tableInformation">
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>
        </div>
    </section>
</div>

<input hidden id="pageValueIdentity" value="GetByAPI" />

@await Html.PartialAsync("~/Views/Shared/_partial/_modalAlert.cshtml")
@await Html.PartialAsync("~/Views/Shared/_partial/_modalSuccess.cshtml")

<script src="~/theme/plugins/jquery/jquery.js"></script>

<script src="~/theme/plugins/moment/moment.min.js"></script>
<script src="~/theme/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<script src="~/theme/plugins/daterangepicker/daterangepicker.js"></script>

<script src="~/js/Ultil/Util.js"></script>
<script src="~/js/VM/vm.js"></script>