@inject SignInManager<ApplicationIdentityUser> _signInManager
@inject UserManager<ApplicationIdentityUser> _userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VCenter</title>
    
    @await Html.PartialAsync("~/Views/Shared/_partial/_cssImportBootstrap.cshtml")

</head>

<body id="body" class="hold-transition sidebar-mini">

    <div class="wrapper">

        @await Html.PartialAsync("~/Views/Shared/_partial/_topMenu.cshtml")

        @await Html.PartialAsync("~/Views/Shared/_partial/_menu.cshtml")

        @RenderBody()


    </div>

    @await Html.PartialAsync("~/Views/Shared/_partial/_scriptBootstrap.cshtml")

    @RenderSection("Scripts", required: false)
</body>
</html>


