<div class="modal fade" id="modalSuccess" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
            </div>

            <div class="modal-body">

                <div class="thank-you-pop">
                    <img src="~/images/successImage.png" alt="">
                    @*<h1>Successo!</h1>*@
                    <p id="description">Requisição feita com sucesso!</p>
                    <h3 class="cupon-pop"><span id="sub-description">Todos os dados foram executados.</span></h3>
                </div>

            </div>

        </div>
    </div>
</div>

<link href="~/css/modal.css" rel="stylesheet" />